.footerSection{
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 13px;
  .footerLogo{
    margin-bottom: 20px;
  }
  .social{
    ul{
      padding-left: 0px;
      margin-left: 0px;
      margin-bottom: 0px;
      li{
        display: inline;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

.footerContentLeft{
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  height: 100%;
}
.footMenu{
  ul{
    list-style: none;
    padding-left: 0px;
    li{
      padding-bottom: 20px;
      font-size: 14px !important;
      font-weight: 600;
      a{
        text-decoration: none;
        color: #000000;
      }
    }
  }
}

.footMenu1{
  h4{
    font-size: 16px;
  }
  ul{
    list-style: none;
    padding-left: 0px;
    li{
      padding-bottom: 4px;
      a{
        text-decoration: none;
        color: #000000;
      }
    }
  }
}

.bottomLink{
  ul{
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 20px;
    li{
      display: inline;
      padding-right: 10px;
    }
    list-style: none;
  }
}