.innerHero{
  height: 260px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  h1{
    font-weight: 400;
    padding-top: 20px;
  }
  p{
    font-size: 20px;
  }
}