.servicesSection{
  padding-top: 80px;
  padding-bottom: 80px;
  color: #ffffff;
  h4{
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .serviceContent{
    h3{
      font-weight: 300;
      font-size: 32px;
      padding-bottom: 20px;
    }
    p{
      font-size: 20px;
      padding-bottom: 20px;
    }
  }
  .serviceContentCounter{
    .block{
      border-bottom: 1px solid #ffffff;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
    h2{
      font-size: 48px;
      font-weight: 100;
    }
  }
}

.imgBlock{
  width: 400px;
  overflow: hidden;
  margin: auto;
  text-align: center;
}